html{
    
}
div{
    
}

nav{
    
}
nav.navbar{
    background-color: lightgray;
    z-index: 1;
    position: fixed;
    width: 100%;
    margin-left: -13px;
}

nav.navbar a{
    color: #042b40 !important;
}

li a{
    background-color: lightgray;
    
}

.container-fluid .col-lg-12{
    margin-bottom: 3.3%;
}
p{
    text-align:center;
}
h1{
    font-family: sans-serif, 'Proxima Nova' !important;
    font-weight: bold;
    color: #042b40 !important;
    font-size: 60px !important;  
    text-align: center;
}

h2{
    font-family: sans-serif, 'Proxima Nova' !important;
    color: #1c5b7d !important;
    text-align: center;
}
h3{
    color: #042b40 !important;
     font-family: sans-serif, 'Proxima Nova' !important;
        text-align: center;

}

h4{
     color: #042b40 !important;
     font-family: sans-serif, 'Proxima Nova' !important;
        text-align: center;

}

h5{
     color: #042b40 !important;
     font-family: sans-serif, 'Proxima Nova' !important;
        text-align: center;

}
img{
    margin:auto; 
}
.carousel-indicators li.active{
    background-color: #042b40;
}

.carousel-indicators li{
    background-color: #1c5b7d;
}

.left.carousel-control{
    background-image: none !important;
    font-size: 80px;
    padding-top: 20%;
}

.right.carousel-control{
    background-image: none !important;
    font-size: 80px;
    padding-top: 20%;
}
.col-lg-8 {
    background-color: white;
        text-align: center;
}
.col-lg-2.col-lg-offset-2{
    background-color: white;
        text-align: center;
    height:222px;
    padding: 10px;
    border: solid 2px;
    border-color: black;
    
}

.col-lg-2.col-lg-offset-2 #ravenhill {
    margin-top: 35%;
}
.col-lg-2 #hybrid {
    margin-top: 45%;
}

.col-lg-2 #oranges {
    margin-top: 35%;
}

.col-lg-2 #arts {
    height: 100%;
}

.col-lg-2 #library {
    margin-top: 35%;
}


.col-lg-2 #video {
    margin-top: 25%;
}

.col-lg-2 #site {
    height: 100%;
}

.col-lg-2.col-lg-offset-2 #vector {
    height: 100%;
}
/*.col-lg-2 img{
    margin-top: 35%;
    margin-bottom: auto;
}*/
.col-lg-2{
       background-color: white;
        text-align: center;
    height:222px;
        padding: 10px;
    border: solid 2px;
    border-color: black;
    margin: 1px;
}




