html{
    background-color: lightgray;
}
div{
    background-color: lightgray;
}

nav{
    
}
nav.navbar{
    background-color: lightgray;
    z-index: 1;
    position: fixed;
}

nav.navbar a{
    color: #042b40 !important;
}

li a{
    background-color: lightgray;
    
}

.container-fluid .col-lg-12{
    margin-bottom: 3.3%;
}
p{
    text-align:center;
}
h1{
    font-family: sans-serif, 'Proxima Nova' !important;
    font-weight: bold;
    color: #042b40 !important;
    font-size: 100px !important;  
    text-align: center;
}

h2{
    font-family: sans-serif, 'Proxima Nova' !important;
    color: #1c5b7d !important;
    text-align: center;
}
h3{
    color: #042b40 !important;
     font-family: sans-serif, 'Proxima Nova' !important;
        text-align: center;

}

img{
    margin:auto; 
}
.carousel-indicators li.active{
    background-color: #042b40;
}

.carousel-indicators li{
    background-color: #1c5b7d;
}

.left.carousel-control{
    background-image: none !important;
    font-size: 80px;
    padding-top: 20%;
}

.right.carousel-control{
    background-image: none !important;
    font-size: 80px;
    padding-top: 20%;
}
.col-lg-8 {
    background-color: white;
        text-align: center;
}
.header.col-lg-8.col-lg-offset-2{
    background-color: white;
    padding-bottom: -100px;
        text-align: center;

}
.col-lg-2{
        background-color: lightgray;
}
.footer.col-lg-8.col-lg-offset-2{
    padding-bottom: -100px;
        text-align: center;
    

}

